/* Services section css starts */
.services {
  background-image: url(../images/bg-blob-blue.svg);

  .inner_content {
    text-align: center;
  }

  .main_content {
    img {
      width: 100%;
      border-radius: 1rem;
    }
  }
}
/* Services section css ends */
